body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://wallpaper.dog/large/5458814.jpg");
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.images {
  max-width: 200px;
  height: 300px;
  min-height: 300px;
  border-radius: 10px;
  background-color: black;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: thick;
}

.top-page {
  background-image: url('https://thumbs.dreamstime.com/b/toys-pets-dog-cat-rubber-textile-accessories-dark-wooden-background-top-view-toys-pets-dog-cat-rubber-111030119.jpg');
  background-position: bottom;
  background-size: cover;
  padding: 30px;
}

h1 {
  font-weight: 900;
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.subheader {
  color: white;
  text-align: center;
  font-weight:bolder;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* .navBtn {
  color: white;
  margin: 40px;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} */
.navBtn{
  border: 1px solid black;
  background: none;
  padding: 10px 30px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
#btn1, #btn2, #btn3{
  color: teal;
}
#btn1:hover, #btn2:hover, #btn3:hover{
  color: black;
}
.navBtn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: teal;
  z-index: -1;
  transition: 0.7s;
}
#btn1::before, #btn2::before, #btn3::before{
  top: 0;
  border-radius: 0 0 0 0;
}
#btn1:hover::before, #btn2:hover::before, #btn3:hover::before{
  height: 100%;
}


#nav {
  text-align: center;
}

.formTxtArea {
  margin: 20px;
  width: 60%;
  height: 40px;
  border-radius: 5px;

}

#formBtn {
background-color: #4CAF50; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

#form {
  margin: 10px;
  text-align: center;
}

.formDirection {
  text-align: center;
  margin: 10px;
}

.dogCards {
  float: left;
}

.DogContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.searchBar {
  width: 20%;
  height: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#about-dog-pic {
  max-width: 400px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 90px;
}

.about {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin-left: 500px;
  margin-right: 500px;
  letter-spacing: 0.1em;
}

.venmo {
text-align: center;
}



.dogCardButton {
  background-color:teal; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 90px;
}

.rickRolled {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}